# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3010"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary
WHITE_LIST_URLS="http://localhost:5173,http://localhost:5174" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
DB_URI="mongodb://localhost:27017" # Full MongoDB connection string

# Access Token Configuration
ACCESS_TOKEN="myaccesstoken" # Access token for authentication

# Session Configuration
JWT_SECRET="myjwtsecret"                                              # Secret for JWT token
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"                              # Google client ID
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"                      # Google client secret
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/google/callback"  # Google callback URL


# TEST VARS
TEST_EMAIL="your_test_email"       # Email for testing
TEST_ALT_EMAIL="your_alt_email"    # Alternate email for testing
TEST_PASSWORD="your_test_password" # Password for testing

# OTHER VARS
FRONTEND_URL="http://localhost:5173" # Frontend URL